#navbar {
  position: fixed;
  top: 0px;
}

#welcome-section {
  height: 100vh;
  text-align: center;
}

#welcome-section>img {
  width: 25%;
}

@media only screen and (min-width: 1280px) {
  section {
    width: 1280px;
  }
  }