body {
  margin: 0px;
  padding: 0px;
}
#navbar {
  position: fixed;
  top: 0px;
  height: 50px;
  background-color: white;
  width: 100%;
  opacity: 0.3;
}
#welcome-section {
  color: white;
  background-color: black;
  height: 100vh;
}
#welcome-section-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome-section-img-container>img {
  width: 100%;
}
@media only screen and (min-width: 1920px) {
  #welcome-section-img-container {
  width: 1920px;
  margin: auto;
  }
}